<div class="container">
  <div class="logo">
    <label>S</label>
  </div>
  <div class="login">
    <div class="subtitle">
      <label>{{ 'main.logUp.title' | translate }}</label>
    </div>
    <div class="form">
      <form>
        <div class="label-login">
          <label>{{ 'labels.email' | translate }}</label>
        </div>
        <ion-input class="login-style"></ion-input>
        <div class="label-login">
          <label>{{ 'labels.password' | translate }}</label>
        </div>
        <ion-input class="login-style" type="password"></ion-input>

        <div class="label-login">
          <label>{{ 'labels.confirmPassword' | translate }}</label>
        </div>
        <ion-input class="login-style" type="password"></ion-input>

        <div class="label-login">
          <label>{{ 'labels.fullName' | translate }}</label>
        </div>
        <ion-input class="login-style"></ion-input>
        <ion-button expand="full">{{ 'buttons.logUp' | translate }}</ion-button>
      </form>
    </div>
    <div class="policy">
      <label>{{ 'main.logUp.subtitle1' | translate }}</label>
      <br>
      <label>{{ 'main.logUp.subtitle2' | translate }}</label>
    </div>
    <div class="logIn">
      <label>{{ 'main.logUp.footerText' | translate }}
        <label class="special" (click)="onLogIn()">{{ 'main.logUp.footerTextLink' | translate }}</label>
      </label>
    </div>
  </div>
</div>