<div class="nav">
  <div class="left">
    <div class="logo">
      <div class="img">
        <img src="./../../../../../assets/img/logo.svg">
      </div>
    </div>
    <div class="menu">
      <div class="icon">
        <ion-icon name="menu" size="large"></ion-icon>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="storage">
      <div class="cube">
        <ion-icon name="cube" size="large"></ion-icon>
      </div>
      <div class="loadbar">
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </div>
    </div>
    <div class="others">
      <div class="notif">
        <ion-icon name="help-circle" size="large"></ion-icon>
        <ion-icon name="mail" size="large"></ion-icon>
        <ion-icon name="notifications" size="large"></ion-icon>
        <div class="username">
          <label>
            Username
          </label>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div>