.app-container {
  width: 100%;
  height: 100%;
  background-color: var(--app-dark-blue);
}

.container-control-panel {
  width: calc(100% - 15rem);
  height: 100%;
}

.navigation-menu,
.container-control-panel {
  float: left;
}

.header {
  height: 4rem;
  width: 100%;
}

.container-footer-components{
  position: fixed;
  bottom: 0;
}

ion-content{
  --background: var(--app-dark-blue);
}