.container-control-panel{
  width: calc(100% - 15rem);
  height: calc(100% - 4rem);
  background-color: #242e42;
  position: fixed;
  left: 15rem;
  top: 4rem;
}

.header{
  height: 4rem;
  position:fixed;
  top:0;
  width: 100%;
}

.navigation-menu{
  position: fixed;
  left:0;
  width: 15rem;
  height: calc(100% - 4rem);
  top: 4rem;
  background-color: var(--app-dark-blue);
}