<div class="container">
  <div class="logo">
    <label>S</label>
  </div>
  <div class="login">
    <div class="title">
      <label>Forgot Password</label>
    </div>

    <div class="subtitle">
      <label>Place your email in the field below</label><br>
      <label>We will send you a link with the</label><br>
      <label>Instructions to follow</label>
    </div>
    <div class="form">
      <form>
        <div class="label-login">
          <label>Email</label>
        </div>
        <ion-input class="login-style"></ion-input>
        <ion-button expand="full">Sign In</ion-button>
      </form>
    </div>
  </div>
</div>