.container-overview {
  color: var(--app-gray);
  min-width: 65rem;
}

app-camera-panel {
  width: 55%;
}

.header {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.title {
  font-family: robotoLight;
  font-size: 1.5rem;
  color: white;
  float: left;
}

.options {
  float: right;
  font-size: 1rem;
}

ion-content {
  --background: var(--app-dark-blue);
  --padding-bottom: 0rem;
  --padding-end: 2rem;
  --padding-start: 1rem;
  --padding-top: 1rem;
}

.card-container {
  app-camera-panel,
  >div {
    float: left;
  }
  >div>div>* {
    display: inline-block;
    width: 50%;
  }
  >div {
    width: 45%;
  }
}