.container {
  width: 100%;
  height: 100%;
  .tittle {
    padding: 3rem;
    font-size: 1.75rem;
    font-family: 'robotoLight';
  }
  .content {
    padding: 10rem 3rem;
    font-size: 3rem;
    >label {
      font-family: 'robotoLight';
      >b {
        font-family: 'robotoBold';
      }
    }
  }
  .play {
    position: absolute;
    bottom: 0;
    width: 20rem;
    padding: 3rem;
    >div {
      display: inline;
      color: #1f8efa;
      font-size: 3rem;
    }
    >label {
      font-size: .75rem;
      color: #1f8efa;
      position: absolute;
      top: 4rem;
      padding-left: 1rem;
    }
  }
}